.body
{
	margin: 0px;
}
.ikona
{
	width: 210px;
	height: 45px;
	position: fixed;
	margin-top: 2px;
	margin-left: 2px;
}
.header
{
	background-color: white;
	width: 100%;
	box-shadow: 0px -5px 20px;
        position: fixed;
	z-index: 1;
	opacity: 0.98;
}
.menu
{
	background-color: white;
	font-size: 18px;
	text-align: right;
	margin-left: 100px;
	height: 50px;
}
.menu > li
{
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.menu a 
{
	color: #363636;
	text-decoration: none;
    text-align: center;
	transition-duration: 0.3s;
	display: block;
}
.menu a:hover
{
    color: #5ca553;
    transform: scale (1,02);
    z-index: 0;
}

.tlo
{
    background-image:url(zkm1.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
	z-index: -1;
	width: 100%;
	opacity: 0,9;
	padding-top: 400px;
	left: 0;
    right: 0;
}
.onas
{
    text-shadow: 1px 1px 15px black;
	position: relative;
    z-index: 0;
	bottom: 150px;
	width: 800px;
	text-align: center;
	color: #EFEFEF;
	margin: 0 auto;
	opacity: 0.93;
}
.tlor
{
	position: relative;
}

.tabor
{
   padding-top: 100px;
}
.tabor2
{
   padding-top: 50px;
   text-decoration: none;
}
.tabor table
{
  border-collapse: collapse;
  width: auto;
  margin: auto;
  width: 1400px;
  height: 300px;
  font-size: 20px;
}
.tabor2 table
{
  border-collapse: collapse;
  width: auto;
  margin: auto;
  width: 1400px;
  height: 150px;
  font-size: 20px;
  text-decoration: none;
}

th, td
{
  text-align: left;
  padding: 8px;
  color: #363636;
  text-decoration: none;
}

tr:nth-child(even){background-color: #f2f2f2}

th
{
  background-color: #5ca553;
  color: white;
}
h1
{
  text-align: center;
  font-size: 25px;
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #5ca553;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


a:link {
  color: #363636;
  text-decoration: none;
}

a:visited {
  color: #363636;
  text-decoration: none;
}

a:hover {
  color: #5ca553;
  text-decoration: none;
}

a:active {
  color: #363636;
  text-decoration: none;
}
